# Ethereum mainnet gateway (deployed contract address - placeholder until deployed)
VITE_BRIDGE_MAINNET_GATEWAY_ADDRESS=0x0000000000000000000000000000000000000000

# AegisLink mainnet node status API
VITE_BRIDGE_STATUS_API_BASE_URL=http://localhost:1318

# Osmosis mainnet destination
AEGISLINK_PUBLIC_BACKEND_DESTINATION_RPC_ADDR=https://rpc.osmosis.zone:443
AEGISLINK_PUBLIC_BACKEND_DESTINATION_GRPC_ADDR=https://grpc.osmosis.zone:443
AEGISLINK_PUBLIC_BACKEND_DESTINATION_CHAIN_ID=osmosis-1
AEGISLINK_PUBLIC_BACKEND_DESTINATION_CHAIN_NAME=osmosis-1
AEGISLINK_RELAYER_DESTINATION_LCD_BASE_URL=https://lcd.osmosis.zone
AEGISLINK_RLY_DESTINATION_ACCOUNT_PREFIX=osmo
AEGISLINK_RLY_DESTINATION_GAS_PRICE_DENOM=uosmo
AEGISLINK_RLY_DESTINATION_GAS_PRICE_AMOUNT=0.025

# Funded Osmosis mainnet relayer key (OSMO for gas fees)
AEGISLINK_RLY_OSMOSIS_MAINNET_KEY_NAME=osmosis-mainnet-relayer-key
# Paste 24-word mnemonic for your funded Osmosis mainnet wallet:
AEGISLINK_RLY_OSMOSIS_MAINNET_MNEMONIC=""

# Neutron mainnet destination
AEGISLINK_PUBLIC_BACKEND_NEUTRON_RPC_ADDR=https://rpc-kralum.neutron-1.neutron.org:443
AEGISLINK_PUBLIC_BACKEND_NEUTRON_GRPC_ADDR=https://grpc-kralum.neutron-1.neutron.org:443
AEGISLINK_PUBLIC_BACKEND_NEUTRON_LCD_BASE_URL=https://rest-kralum.neutron-1.neutron.org
AEGISLINK_RLY_NEUTRON_MAINNET_KEY_NAME=neutron-mainnet-relayer-key
# Paste 24-word mnemonic for your funded Neutron mainnet wallet:
AEGISLINK_RLY_NEUTRON_MAINNET_MNEMONIC=""
